

.footer {

    background-color: var(--cor-fundo-quartenaria);
    margin-top: -1px;
    padding-top: 10rem;
}

.footer__container {

    display: flex;
    flex-direction: column;
}

.footer__logo {

    width: 30%;
    padding: 0 1.5rem;
    margin: 4rem 0 1.5rem 0;
}

.footer__dados {

    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.footer__dados__logo {

    padding: 0 1.75rem;
}

.footer__dados__texto {

    color: var(--cor-texto-branco);
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    line-height: 150%;
}


.footer__list {

    padding: 0 0 3rem 1.5rem;
    margin-top: 2rem;
}

.footer__list__texto {

    margin-top: 1.2rem;
}

.footer__list__texto-link {

    color: var(--cor-texto-branco);
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.footer__lista__texto-espaço {

    margin-top: 3rem;
}

.footer__social__media {

    padding: 1rem 0 2rem 0;
    text-align: center;
}

.footer__social__media-img {

    padding: 0 0.5rem 0 0.5rem;
}