
.cabecalho__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo-primaria);
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    margin-bottom: -1px;
}

.cabecalho__container__logo {

    width: 5.5rem;
}

.cabecalho__container__lista {

    display: flex;
}

.cabecalho__container__texto {

    margin: 0.75rem;
}

.cabecalho__container__texto_link-menor, .cabecalho__container__texto_link {

    text-decoration: none;
    font-size: 0.9rem;
}

.cabecalho__container__texto_link-menor:active,
.cabecalho__container__texto_link:active {

    font-weight: bolder;
}

.cabecalho__container__texto_link-menor {

    color: var(--cor-texto-branco);
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.cabecalho__container__texto_link {

    color: var(--cor-texto-branco);
    font-family: var(--fonte-primaria);
    text-decoration: none;
}

@media screen and (min-width:768px) {
    
    .cabecalho__container{

    padding: 4rem 2rem 4rem 2.5rem;
    background-color: var(--cor-fundo-secundaria);
    padding: 6rem 5rem 6rem 5rem;
    }

    .cabecalho__container__logo {

    width: 10rem;
    }

    .cabecalho__container__texto_link-menor, .cabecalho__container__texto_link {

    font-size: 1rem;
    
    }

}

@media screen and (min-width: 1280px) {
    
    .cabecalho__container {

        padding: 5rem 3rem 5rem 3rem;
    }

    .cabecalho__container__logo {

        width: 15%;
        padding-left: 4rem;
    }

    .cabecalho__container__texto_link-menor, 
    .cabecalho__container__texto_link {

        font-size: 1.5rem;
    }

}