
.main {

    background: var(--cor-fundo-terciaria);
    text-align: center;
}

.main__icon {

    margin-top: 5rem;
}

.main__container {

    margin: 0 4rem;
}

.main__container__bottom {

    padding-bottom: 5.75rem;
}

.main__container__titulo {

    color: var(--cor-texto-branco);
    font-size: 1.25rem;
    font-weight: bold;
    font-family: var(--fonte-primaria);
    line-height: 30%;
}

.main__container__texto {

    color: var(--cor-texto-branco);
    font-size: 0.875rem;
    font-family: var(--fonte-secundaria);
    line-height: 150%;
}



@media screen and (min-width: 768px) {
    
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px; 
        max-width: 1000px;    
        margin: 0 auto;       
        padding: 10rem 1.25rem 2.5rem 1.25rem;   
    }

    .main > div {
        display: flex;              
        flex-direction: column;     
        align-items: center;        
        text-align: center;        
    }

    .main__icon {
        width: 100px;       
        margin-bottom: 20px;
    }

    .main__icon__security {

        width: 83px;
    }

    .main__container__titulo {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .main__container__texto {
        font-size: 0.875rem;
        max-width: 300px;   
    }
}